@import url(http://fonts.googleapis.com/css?family=Raleway:600,700,800);
@import url(https://fonts.googleapis.com/css2?family=Satisfy&display=swap);

/* ===============================================
   General styles
   ============================================== */

.bg-pink {
    background: #DF1A8D
}

.bg-header-gradient {
    background: rgb(240, 162, 178);
    background: linear-gradient(180deg, rgba(240, 162, 178, 1) 90%, rgba(255, 255, 255, 1) 100%);
}

.bg-gradient-sponsors {
    background: rgb(240, 162, 178);
    background: linear-gradient(356deg, rgba(240, 162, 178, 1) 0%, rgba(255, 255, 255, 1) 38%);
}

.bg-lightpink {
    background: rgb(240, 162, 178);
}

.nav-link:hover {
    background: #1FA29C;
}

.navbar {
    padding: 1rem 0;
    font-size: 1rem;
}

.navbar-toggler {
    border-color: white;
}

.cursivas {
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
}

.cursivas-sm {
    font-family: 'Satisfy', cursive;
    font-size: 1.5rem;
}

.navbar-title {
    font-size: 1rem;
}

.li-important {
    border-color: #aaaaaa;
    border-radius: 5px;
    border-width: 1px;
    border-style: dashed;
}

.text-pink {
    color: #DF1A8D;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    font-weight: 300;
    font-size: 16px;
    color: rgb(117, 20, 20);
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    line-height: 1.4;
    font-family: "Raleway", sans-serif;
}

h2,
h3 {
    margin-bottom: 0;
}

.header_uno {
    height: 100vh;
    background: url(../img/carousel/uno.jpg) no-repeat center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header_dos {
    height: 100vh;
    background: url(../img/carousel/dos.jpg) no-repeat center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header_tres {
    height: 100vh;
    background: url(../img/carousel/tres.jpg) no-repeat center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.info-bg {
    width: 100%;
    height: 60vh;
    text-align: center;
    background: url(../img/fecha.jpg) no-repeat bottom scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.lugar-bg {
    width: 100%;
    height: 60vh;
    text-align: center;
    background: url(../img/fecha.jpg) no-repeat bottom scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.section {
    padding: 1.5rem 0;
}

.h-100 {
    height: 100%;
}

.h-50 {
    height: 50%;
}


/* ========= SCROLL REVEAL -> CONECTADO CON JS ==================== */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

.contenido-window {
    padding: 5rem 0;
    margin: 1rem 0;
    border-radius: 1rem;
}

.card {
    border-radius: 1rem;
    border-width: 0px;
    box-shadow: -8px -8px 16px #dd95a4,
        8px 8px 16px #ffafc0;
}

.card-logo {
    border-radius: 16px;
    box-shadow: 17px -17px 34px #d18d9b,
        -17px 17px 34px #ffb7c9;

}

.card-img-top {
    border-radius: 1rem;
}

.centro-morelos {
    background: url(../);
}


.bg-red {
    background: rgba(117, 20, 20, 0.5);
}

/* ====== countdown ============== */


.countdown .timeel {
    display: inline-block;
    padding: 5px;
    background: #DF1A8D;
    margin-bottom: 1rem;
    color: white;
    min-width: 2.6rem;
    border-radius: 5px;
    font-size: 1.2rem;
}

.countdown span[class*="timeRef"] {
    border-radius: 0.5rem;
    margin-left: 0;
    background: none;
    color: black;
}